MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=change_me
MYSQL_DATABASE=cdk_mail
OUTLOOK_CLIENT_ID=your_outlook_client_id
DEFAULT_GPT_PASSWORD=Jijie@123456
ADMIN_ENABLED=false
ADMIN_PASSWORD=change_this_admin_password
FLASK_SECRET_KEY=change_this_session_secret
APP_PORT=5090
