MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=change_me
MYSQL_DATABASE=cdk_mail
OUTLOOK_CLIENT_ID=your_outlook_client_id
DEFAULT_GPT_PASSWORD=Jijie@123456
ADMIN_ENABLED=false
ADMIN_PASSWORD=QXY_CNiNEJkKRaZ0zjtooC8pjmriSD17
FLASK_SECRET_KEY=34b6a120c8c952650c639715fa1ba3d6b94e911bcec9ebd3b66a54781b880318
APP_PORT=5090
SMS_PUBLIC_BASE_URL=http://your-domain-or-ip:5090
